{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": ["error", { "allow": ["log", "warn"] }],
    "comma-dangle": ["error", "never"]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
